<mat-button-toggle-group appearance="standard">
  <mat-button-toggle value="all" (click)="fetchProducts('all')">
    Alla
  </mat-button-toggle>
  <mat-button-toggle value="rott" (click)="fetchProducts('rott')">
    Rött
  </mat-button-toggle>
  <mat-button-toggle value="vitt" (click)="fetchProducts('vitt')">
    Vitt
  </mat-button-toggle>
  <mat-button-toggle value="rose" (click)="fetchProducts('rose')">
    Rosé
  </mat-button-toggle>
  <mat-button-toggle value="mousserande" (click)="fetchProducts('mousserande')">
    Bubbel
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-grid-list cols="4" rowHeight="4:3">
  <mat-grid-tile *ngFor="let product of products$ | async">
    <div class="image-container">
      <img
        class="image"
        routerLink="/product/{{ product.id }}/{{ product.slug }}"
        src="{{ product.imageUrl }}"
        alt="Bild på {{ product.name }}"
      />
    </div>
    <mat-grid-tile-footer style="padding-top: 10px; padding-bottom: 5px">
      {{ product.name }}
      <br />
      {{ product.price }} kr
    </mat-grid-tile-footer>
    <mat-grid-tile-header>{{ product.manufacturer }} </mat-grid-tile-header>
    <div style="padding-top: 10px"></div>
  </mat-grid-tile>
</mat-grid-list>
