<button>Rött vin</button>
<div>Vitt vin</div>
<div>Bubbel</div>
<div>-</div>

<div>
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile *ngFor="let product of products$ | async">
      <mat-grid-tile-footer style="padding-bottom: 10px">
        {{ product.name }}
        {{ product.price }} kr
      </mat-grid-tile-footer>
      <img
        routerLink="/product/{{ product.id }}/{{ product.slug }}"
        src="{{ product.imageUrl }}"
        width="125"
        height="170"
        alt="Bild på {{ product.name }}"
      />
      <div style="padding-top: 10px"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
