<mat-button-toggle-group appearance="standard">
  <mat-button-toggle value="all" (click)="filterProducts('all')">
    Alla
  </mat-button-toggle>
  <mat-button-toggle value="rott" (click)="filterProducts('rott')">
    Rött
  </mat-button-toggle>
  <mat-button-toggle value="vitt" (click)="filterProducts('vitt')">
    Vitt
  </mat-button-toggle>
  <mat-button-toggle value="rose" (click)="filterProducts('rose')">
    Rosé
  </mat-button-toggle>
</mat-button-toggle-group>

<div>
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile *ngFor="let product of products$ | async">
      <mat-grid-tile-footer style="padding-bottom: 10px">
        {{ product.name }}
        {{ product.price }} kr
      </mat-grid-tile-footer>
      <div *ngIf="product.packaging == 'glass'">
        <img
          routerLink="/product/{{ product.id }}/{{ product.slug }}"
          src="{{ product.imageUrl }}"
          width="50"
          height="170"
          alt="Bild på {{ product.name }}"
        />
      </div>
      <div *ngIf="product.packaging != 'glass'">
        <img
          routerLink="/product/{{ product.id }}/{{ product.slug }}"
          src="{{ product.imageUrl }}"
          width="140"
          height="170"
          alt="Bild på {{ product.name }}"
        />
      </div>
      <div style="padding-top: 10px"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
