.grid {
  display: inline-grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-item:not(:empty) {
  background-color: hwb(180 85% 13%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
