.outer-cart {
  margin: auto;
  margin-top: 150px;
  width: 50%;
  position: flex;
  padding: 0px;
  list-style-type: none;
}
.inner-cart {
  border: 1px solid gray;
  position: relative;
  background-color: yellow;
}

.product-container {
  display: flex;

  .img-container {
    width: 100px;
    height: 100px;
    cursor: pointer;

    img {
      margin-top: 2px;
      margin-left: 2px;
      display: block;
      margin: 0 auto;
      width: auto;
      height: 100px;
    }
  }

  .name-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    background-color: rgb(67, 98, 77);
    .productName {
      display: block;
      margin-left: 5px;
      background-color: rgb(67, 98, 77);
      font-size: 20px;
    }
  }

  .product-box {
    display: block;

    flex: 1 1 50%;
    background-color: rgb(133, 69, 69);

    .productPrice {
      flex-direction: row;
      align-items: center;
      font-size: 20px;
      flex: 1 1 50%;
      background-color: gray;
    }
  }

  .productQuantity {
    align-items: center;
    font-size: 20px;
    background-color: rgb(197, 28, 28);
    display: inherit;
  }
}
.productsTotalPriceDiv {
  display: flex;
  justify-content: flex-end;

  .productsTotalPrice {
    font-size: 17px;
    background-color: chocolate;
  }
}
