<a *ngIf="totalItemCost$.value > 0; then NotEmptyCart; else emptyCart"></a>

<ng-template #NotEmptyCart>
  <ul class="outer-cart">
    <div class="cart-message">Varukorg</div>
    <tr class="tr-headlines">
      <th class="th-title">Produkt</th>
      <th class="th-price">Styckpris</th>
      <th class="th-total-price">Totalpris</th>
    </tr>
    <li>
      <div class="inner-cart" *ngFor="let item of itemsInCart$ | async">
        <div class="product-container">
          <div
            class="img-container"
            routerLink="/product/{{ item.id }}/{{ item.slug }}"
          >
            <img src="{{ item.imageUrl }}" alt="product image" />
          </div>
          <div class="name-box">
            <a
              class="productName"
              routerLink="/product/{{ item.id }}/{{ item.slug }}"
              >{{ item.name }}
            </a>
          </div>

          <div>
            <div class="product-box">
              <div class="productPrice">{{ item.price }} kr</div>

              <a class="productQuantity">
                <button
                  mat-mini-fab
                  class="negative-fab"
                  aria-label="Example icon button with a minus one icon"
                  (click)="changeAmount(item.id, -1)"
                >
                  <mat-icon>exposure_minus_1</mat-icon>
                </button>

                <span>{{ item.amount }}</span>

                <button
                  mat-mini-fab
                  class="positive-fab"
                  aria-label="Example icon button with a plus one icon"
                  (click)="changeAmount(item.id, 1)"
                >
                  <i class="material-icons">plus_one</i>
                </button>
                <button
                  mat-mini-fab
                  class="remove-fab"
                  aria-label="Example icon button with a remove icon"
                  (click)="removeItem(item.id)"
                >
                  <i class="material-icons">remove_shopping_cart</i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="productsTotalPriceDiv">
        <div *ngIf="totalItemCost$.value !== 0" class="productsTotalPrice">
          {{ totalItemCost$ | async }} kr
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #emptyCart>
  <div>Din varukorg är tom</div>
</ng-template>
