<a *ngIf="totalItemCost$.value > 0; then NotEmptyCart; else emptyCart"></a>

<ng-template #NotEmptyCart>
  <ul class="outer-cart">
    <div style="font-size: x-large; margin-bottom: 4px">Varukorg</div>
    <li>
      <div class="inner-cart" *ngFor="let item of itemsInCart$ | async">
        <div class="product-container">
          <div class="img-container">
            <img
              src="{{ item.imageUrl }}"
              alt="product image"
              routerLink="/product/{{ item.id }}/{{ item.slug }}"
            />
          </div>
          <div class="name-box">
            <a
              class="productName"
              routerLink="/product/{{ item.id }}/{{ item.slug }}"
              >{{ item.name }}
            </a>
          </div>

          <div>
            <div class="product-box">
              <div class="productPrice">{{ item.price }} kr</div>
              <a class="productQuantity">
                <button (click)="changeAmount(item.id, -1)">-</button>
                <span>{{ item.amount }}</span>
                <button (click)="changeAmount(item.id, 1)">+</button>
                <button (click)="removeItem(item.id)">(X)</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="productsTotalPriceDiv">
        <div *ngIf="totalItemCost$.value !== 0" class="productsTotalPrice">
          {{ totalItemCost$ | async }} kr
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #emptyCart>
  <div>Din varukorg är tom</div>
</ng-template>
