<a *ngIf="totalItemCost$.value > 0; then NotEmptyCart; else emptyCart"></a>

<ng-template #NotEmptyCart>
  <ul class="outer-cart">
    <div class="cart-message">Varukorg</div>
    <tr class="tr-headlines">
      <th class="th-picture">Produkt</th>
      <th class="th-title">Namn</th>
      <th class="th-amount">Antal</th>
      <th class="th-price">Styckpris</th>
      <th class="th-total-price">Totalpris</th>
    </tr>
    <li>
      <div class="inner-cart" *ngFor="let item of itemsInCart$ | async">
        <div class="product-container">
          <div
            class="img-container"
            routerLink="/product/{{ item.id }}/{{ item.slug }}"
          >
            <img src="{{ item.imageUrl }}" alt="product image" />
          </div>
          <div class="name-box">
            <a
              class="productName"
              routerLink="/product/{{ item.id }}/{{ item.slug }}"
              >{{ item.name }}
            </a>
          </div>

          <mat-form-field class="amount-box">
            <mat-select
              [(value)]="item.amount"
              (selectionChange)="changeAmount(item.id, item.amount)"
            >
              <mat-option *ngFor="let amount of amountList" [value]="amount">
                {{ amount }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <div class="product-box">
              <div class="productPrice">{{ item.price }} kr</div>
            </div>
          </div>
          <div style="font-size: large">{{ item.price * item.amount }} kr</div>
        </div>
      </div>
      <div class="productsTotalPriceDiv">
        <div *ngIf="totalItemCost$.value !== 0" class="productsTotalPrice">
          {{ totalItemCost$ | async }} kr
        </div>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #emptyCart>
  <div>Din varukorg är tom</div>
</ng-template>
