$text-color: #fb8500;
$background-color: #023047;
$background-color-mat: #5b5656;
mat-card {
  width: 40%;
  background-color: $background-color-mat !important;

  margin: 0 auto;
  display: block;
  transform: translate(50px, 100px);
  mat-card-title {
    padding: 0 16px;
  }
  mat-card-subtitle {
    padding: 0 16px;
    color: $text-color !important;
  }
}
