$text-color: #fb8500;
$background-color: #023047;
$background-color-mat: #5b5656;
html,
body {
  height: 100%;
  background-color: $background-color;
  color: $text-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: purple;
  text-decoration: none;
}
