<div>Välkommen till min vinbutik</div>

<div class="container">
  <div class="listOfWines">
    <div>
      <a routerLink="/products" [queryParams]="{ type: 'all' }">Alla viner?</a>
    </div>
    <div>
      <a routerLink="/products" [queryParams]="{ type: 'rott' }">Röda viner?</a>
    </div>
    <div>
      <a routerLink="/products" [queryParams]="{ type: 'vitt' }">Vita viner?</a>
    </div>
    <div>
      <a routerLink="/products" [queryParams]="{ type: 'rose' }">Roséviner?</a>
    </div>
  </div>
</div>
