.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.listOfWines {
  display: "flex";
  flex-direction: "row";
}
